
.sports-type {
    margin-top: 5%;
    width: 100%;
    max-width: 1200px;
}

.card-title {
    text-align: center;
}

@media (min-width: 50px) {
    .container{
        min-width: 90%;
    }
    .sports-type {
        margin: 20px 1%;
    }
    .card-img-top {
        aspect-ratio: 16 / 12;
        max-width: 1200px;
        max-height: 825px;
    }
}
